.md-content .landing-header {
  font-weight: 900;
  text-transform: capitalize;
  text-align: left;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
.md-content .landing-paragraph {
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 1rem;
  box-sizing: border-box;
  gap: .5rem;
}